{% extends 'UserBundle::layout.html.twig' %}

{% block title %}{{parent()}} | Editar rol{% endblock title %}

{% block content %}
    <FORM class="form-horizontal" action="{{ path('role_update', { 'id' : entity.id }) }}"
          method="post" {{ form_enctype(edit_form) }}>

        <center><h3>Editar rol: "{{ entity }}"</h3></center>

        {{ form_widget(edit_form) }}
        <DIV class="form-actions">
            <BUTTON name="submit" type="submit"
                    class="btn btn-primary"><I class="fa-check"></I>
                {{'Guardar'|trans}}</BUTTON>
            <a class="btn" href="{{ path('role') }}">
                <I class="fa-ban"></I> {{'Cancelar' | trans}}</a>
        </DIV>
    </FORM>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}