{% extends 'UserBundle::layout.html.twig' %}

{% block title %}{{parent()}} | Datos de {{entity}}{% endblock title %}

{% block content %}
    <h1>Rol: {{entity}}</h1>
    <div class="row-fluid">
        <div class="span10">
            <table class="table table-bordered show-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span2">
            <ul class="nav nav-list options-menu">
                <li class="nav-header">
                <center><i class="fa-cog fa-white"></i> Acciones</center>
                </li>
                <li>
                    <a href="{{ path('role') }}">
                        <i class="fa-th-list"></i> Ver lista
                    </a>
                </li>
                <li>
                    <a href="{{ path('role_edit',{'id' : entity.id}) }}">
                        <i class="fa-edit"></i> Editar
                    </a>
                </li>
                <li>
                    <a href="{{ path('role_new') }}">
                        <i class="fa-asterisk"></i> Nuevo
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
